.logo{
 
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.text{
align-items: center;
text-align:center;
}

 .phone {
/* color:#4400ff;
width:10px; */


  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 320px;

}  

.msg{
text-align:center;
}

.btn{

/* padding: 30px; */
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;

}
.inbtn{
align-items:center;
height:50px;
width:300px;
border-radius: 30px;

font-size: 40px;

background: blue;
}

.inbtn:hover{

  cursor:pointer;
}



.logo1{
  text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;
  }
  
 .txt{
  
  
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 320px;

} 
  /* .iinpu{
    color:#4400ff;
width:10px; */

/* 
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 420px;
  } */


  .div2{
      align-items: center;
  text-align:center;

  }

  .btn3{

    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100px;

    color: burlywood;
  }
@media only screen and (min-width: 480px) {
/* styles for devices with a minimum screen width of 480px */

}

@media only screen and (max-width: 480px) {

/* styles for devices with a maximum screen width of 480px */

}